body {
  background-image: url(confectionary.png);
}

.canvas {
/*background-color: red;*/
border: 3px solid black;
position: relative;
margin-top: 25px;
}

.colors>div {
  width: 10%;
  height: 20px;
  display: inline-block;
}

.pixels>div {
  width: 10%;
  height: 20px;
  display: inline-block;
}

.reset {
  width: 10%;
  height: 20px;
  display: inline-block;
  margin-top: 5px;
}

.red {
  background-color: #F00;
}

.yellow {
  background-color: #FECA1E;
}

.blue {
  background-color: #5AD;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

button {
  width: 90px;
  height: 40px;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 3.0px 3.0px 3.0px 3.0px lightgrey;
}

button:hover {
  opacity: .8;
  box-shadow: 3.0px 3.0px 3.0px 3.0px black;
}

button:active {
  opacity: .8;
  box-shadow: 2.6px 2.6px 2.6px 2.6px black;
}

button:focus {
  outline: 0;
}
